* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  background-color: #fff;
}
.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
hr {
  width: 100%;
  border: none;
  background-color: black;
  height: 1px;
  opacity: 0.3;
}
