.SendBox {
  position: absolute;
  bottom: 0;
  background-color: #016aa7;
  width: 100%;
  height: 70px;
  margin: 0px auto;
}
.input {
  outline: none;
  width: 50vw;
  height: 50px;
  padding: 2px;
  /* background: none; */
  border: none;
  border-bottom: 2px solid black;
  font-weight: bolder !important;
}

.MuiFormLabel-root.Mui-focused {
  color: black !important;
  font-weight: bolder;
}
.button {
  outline: none;
  height: 50px;
  font-size: 20px;
  color: white;
  border: none;
  margin: 2px;
  border: none !important;
}
.fa-paper-plane:before {
  color: white;
  content: "\f1d8";
  font-size: 31px;
}
